*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", serif;;
}

/* Moblie layout */
header {
  width: 100%;
  height: 110vh;
  background: #fff0cb;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#navbar {
  margin-top: 100px;
  width: 100%;
  padding: 20px;
  background: #fff0cb;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F49619;
}

/* Logo top */
.logo-container {
  position: relative;
  width: 250px;
  height: 250px;
}

.static-logo,
.rotating-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#navbar-list{
  margin-top: 150px;
  display: flex;
  gap: 50px;
  list-style-type: none;
}

#navbar-list li a{
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

#navbar-list li a:hover{
  color: #F49619;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #000000;
}

/* Main section styling */
#name-role {
  position: absolute;
  bottom: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4C7031;
}

/* Styling for name */
#myname, #role-description {
  font-weight: 400;
  position: relative;
  cursor: pointer;
}

/* Specific font size for #myname */
#myname {
  font-size: 3.2rem;
}

/* Default popup styling */
.popup {
  display: none;
  position: absolute;
  background-color: #e9dcbb;
  color: #000000;
  padding: 10px;
  border: solid 1px #92a583;
  border-radius: 5px;
  font-size: 1rem;
  width: max-content;
  text-align: left;
  z-index: 1;
  white-space: nowrap;
}

.popup a{
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
}

#namePopup {
  bottom: 80%;
  left: 50%;
  transform: translate(-50%, -10px);
}

#rolePopup {
  top: 90%;
  left: 50%;
  transform: translate(-50%, 10px);
}

#myname:hover .popup {
  display: block;
}

#role-description:hover .popup {
  display: block;
}

/* Sections */
.h1{
  padding: 5%;
}

/* About Me */
#about-me{
  width: 100%;
  height: 150vh;
  background-color: #4C7031;
}

#about-me h1{
  color: #e9dcbb;
}

#mybackground{
  margin: 5% 0 5% 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 80px;
  color: #e9dcbb;
  font-size: 1.1rem;
}

#about-pic1{
  display: none;
}

/* Change this - just for visual guidance */
#about-pic2{
  margin-left: auto;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

/* CV container - change this later */
#cv{
  margin-top: 10%;
  background-color: rgba(249,241,214,0.7);
  height: 300px;
  border-radius: 15px;
}

/* BG Color & h1 text color for projects & contact */
#projects-contact{
  background: linear-gradient(180deg, rgba(231,211,157,1) 0%, rgba(249,241,214,1) 100%);
}

#projects-contact h1{
  color: #F49619;
}

/* Projects */

.project-list {
  list-style: none;
  padding: 0;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.project-list .project-container {
  width: 100%;
  max-width: 600px;
  height: auto;
  background-color: rgba(249, 241, 214, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.project-list img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

/* Content area */
.project-list .content {
  padding: 20px;
  height: 50%;
  overflow-y: auto;
  text-align: left;
}

.project-list .content h3, .project-list .content p, .project-list .content .tech-stack {
  margin: 0;
  margin-bottom: 10px;
}

.name-status{
  display: flex;
  justify-content: space-between;
  background: rgba(138, 158, 126, 0.555);
  color: #000000;
  padding: 5px 10px 7px 10px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
}

.name-status li{
  list-style-type: none;
}

.project-name{
  font-weight: 500;
}

.project-info{
  padding: 5px 10px 7px 10px;
}

/* Contact */

#contact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

#contact h1 {
  position: absolute;
  left: 20px;
  padding: 5%;
}

#contact-links {
  display: flex;
  gap: 40px;
  list-style-type: none;
  margin-top: 400px;;
}

#contact-links li {
  cursor: pointer;
}

/* Logo bottom */
.logo2-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.logo2-container img{
  width: 150px;
  height: 150px;
}

@media (min-width: 601px){

/* About Me */

#about-pic1{
  display: block;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

/* Change this - just for visual guidance */
#about-pic2{
  display: none;
}

/* Projects */

.project-list {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-list .project-container {
  flex: 1 1 calc(50% - 20px);
  max-width: 600px;
  height: auto;
}

}

@media (min-width: 922px) {

  #navbar {
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
  }

  .logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  #logo {
    font-size: 3rem;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  #navbar-list {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 50px 0 0;
  }

  .project-list .project-container {
    flex: 1 1 calc(33.33% - 20px);
    height: 500px;
  }
}

@media (min-width: 1200px) {
  .project-list .project-container {
    flex: 1 1 calc(25% - 20px);
    max-width: 400px;
    height: 500px;
  }
}
